<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="targetAccounts" type="exportador.TargetAccountSection, exportador" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!-- 
      INSTRUCTIONS
      - Set the uri to the value of the exchange web services URI if knonwn 
      
      - by default all emails will be written to folder 'export', override this feature
        
      - Add target accounts for export in the targetAccount section.
      -->
    
    <!-- Uncomment this to set these values
    <add key="uri" value=""/>
    <add key="exportFolder" value="export"/>
    -->
  </appSettings>
  <targetAccounts>
    <target account="[email address here]" password="[password here]" />
  </targetAccounts>
</configuration>